
.DS_Store

__pycache__/

config_local.py

# exclude all files, but Git won't commit empty folders
data/*
logs/*
snapshot/*

# add file as an exception
!data/.gitkeep
!logs/.gitkeep
!snapshot/.gitkeep
